/* Стилі для меню навігації */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Стилі для списку (ul) в меню навігації */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Стилі для пунктів списку (li) в меню навігації */
nav ul li {
    display: inline; /* Змушує пункти списку бути в одному рядку */
    margin-right: 20px; /* Відстань між пунктами списку */
}

/* Стилі для посилань (a) у меню навігації */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


/* Стилі для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

/* Стилі для параграфів у футері */
footer p {
    display: inline; /* Змушує параграфи бути в одному рядку */
    margin: 0 10px; /* Відстань між параграфами */
}

/* Стилі для посилання у футері */
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Стилі для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed; /* Закріплює футер */
    bottom: 0; /* Розміщує футер в нижній частині сторінки */
    width: 100%; /* Розмір футера на всю ширину сторінки */
}





/* Стилі для секції "Про мене" */
#about {
    text-align: center; /* Центруємо текст в середині секції */
    padding: 50px 0; /* Додайте відступи від верхнього та нижнього країв секції */
}

/* Стилі для заголовку (h1) */
#about h1 {
    font-size: 24px; /* Задаємо розмір шрифту для заголовку */
    margin-bottom: 20px; /* Відстань між заголовком та параграфом */
}

/* Стилі для параграфу (p) */
#about p {
    font-size: 16px; /* Задаємо розмір шрифту для параграфу */
}


/* Стилі для таблиці в секції "Практичні роботи" */
#practical table {
    width: 90%;
    margin: 0 auto; /* Центруємо таблицю в середині секції */
    border-collapse: collapse;
    text-align: center; /* Центруємо текст в таблиці */
    margin-top: 20px; /* Додаємо відступ зверху між списком та таблицею */
}

/* Стилі для всіх рядків таблиці */
#practical table tr {
    text-align: center;
}

/* Стилі для заголовків стовпців таблиці */
#practical table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000; /* Додаємо лінії повздовж та впоперек заголовків */
}

/* Стилі для всіх рядків таблиці, окрім заголовків */
#practical table td {
    padding: 8px;
    border: 1px solid #000; /* Додаємо лінії повздовж та впоперек рядків */
}

/* Стилі для рядка з ідентифікатором "time" */
#practical table #time td {
    background-color: #0000FF; /* Синій фон для рядка з ідентифікатором "time" */
    color: #fff;
    font-weight: bold;
}

/* Стилі для рядка з текстом "Error" */
#practical table tr:contains("Error") {
    background-color: #FF0000; /* Червоний фон для рядків з текстом "Error" */
    color: #008000; /* Зелений колір тексту */
}

/* Стилі для парних рядків з класом "trClassesPractice" */
#practical table .trClassesPractice:nth-child(even) {
    background-color: #008000; /* Зелений фон для парних рядків з класом "trClassesPractice" */
    color: #fff;
}

/* Стилі для непарних рядків з класом "trClassesPractice" */
#practical table .trClassesPractice:nth-child(odd) {
    background-color: #00FF00; /* Салатовий фон для непарних рядків з класом "trClassesPractice" */
    color: #000;
}


/* Стилі для таблиці в секції "Лабораторні заняття" з ідентифікатором "Labs" */
#Labs table {
    width: 90%;
    margin: 0 auto; /* Центруємо таблицю в середині секції */
    border-collapse: collapse;
    text-align: center; /* Центруємо текст в таблиці */
    margin-top: 20px; /* Додаємо відступ зверху між списком та таблицею */
}

/* Стилі для всіх рядків таблиці */
#Labs table tr {
    text-align: center;
}

/* Стилі для заголовків стовпців таблиці */
#Labs table th {
    background-color: #c12121;
    color: #313131;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000; /* Додаємо лінії повздовж та впоперек заголовків */
}

/* Стилі для всіх рядків таблиці, окрім заголовків */
#Labs table td {
    padding: 8px;
    border: 1px solid #000; /* Додаємо лінії повздовж та впоперек рядків */
}

/* Стилі для рядка з ідентифікатором "time" */
#Labs table #time td {
    background-color: #0000FF; /* Синій фон для рядка з ідентифікатором "time" */
    color: #fff;
    font-weight: bold;
}

/* Стилі для рядка з текстом "Error" */
#Labs table tr:contains("Error") {
    background-color: #FF0000; /* Червоний фон для рядків з текстом "Error" */
    color: #00FF00; /* Зелений колір тексту */
}

/* Стилі для парних рядків з класом "trClassesLab" */
#Labs table .trClassesLab:nth-child(even) {
    background-color: #00FF00; /* Зелений фон для парних рядків з класом "trClassesLab" */
    color: #000;
}

/* Стилі для непарних рядків з класом "trClassesLab" */
#Labs table .trClassesLab:nth-child(odd) {
    background-color: #008000; /* Салатовий фон для непарних рядків з класом "trClassesLab" */
    color: #fff;
}



